.edit-content {
    height: 100%;
    .v-card {
        height: 100%;
    }
    .v-col {
        padding: 7px 12px;
    }
    .edit-card-container {
        display: flex;
        height: 100%;
        .v-window__container {
            height: 100%;
        }
        .v-window-item {
            height: 100%;
        }
    }
    .inline-view {
        .edit-card-container {
            display: block;
        }
    }
    .v-slide-group.v-slide-group--vertical.v-tabs {
        background-color: rgb(var(--v-theme-light2));
    }
}

.edit-page-tabs {
    width: 100%;
    height: 100%;
    overflow: auto;
    white-space: nowrap;
    .v-container {
        padding: 0px !important;
    }
}

.v-application[class*="Dark"] {
    .container-tabs {
        color: #fff !important;
    }
}

.fields-container {
    .field-cell {
        margin: 6px 0px 12px;

        // Заголовок
        .label-col {
            flex: 0 0 240px;
            width: 240px;
            margin-left: 12px;
        }
        // Ввод данных
        .form-field-container {
            min-height: 50px;
            flex: 1 1 auto;
            min-width: 0;
        }
        @media (max-width: $screen-mobile-wide) {
            .label-col {
                flex: 0 0 180px;
                width: 180px;
            }
        }
    }
    // Поля для тёмной темы
    .field-cell {
        .v-input[class*="dark" i]:not(.v-input--disabled) .v-field {
            background-color: rgba(var(--v-theme-on-surface), 0.02) !important;
        }
        .v-input[class*="dark" i].v-input--disabled {
            background-color: rgba(var(--v-theme-on-surface), 0.001) !important;
        }
    }

    .container-tabs {
        background-color: rgb(var(--v-theme-secondary));
        color: #000;
    }
    .autocomplete-chip {
        .v-chip__underlay {
            background-color: rgb(var(--v-theme-primary));
            opacity: 0.5;
        }
        .v-chip__close {
            color: rgb(var(--v-theme-primary));
        }
    }
    .form-title {
        display: inline;
        font-size: 15px;
        color: rgb(var(--v-theme-on-surface));
    }
    .required-title {
        font-weight: 600;
        display: inline;
        color: rgb(var(--v-theme-error));
    }
}
@media (max-width: $screen-mobile-wide) {
    .fields-container {
        padding: 10px;
    }
}

.form-error {
    color: rgb(var(--v-theme-error));
}

.persistent-message-dialog {
    max-width: $model-form-width;
}
.action-form-dialog {
    max-width: $model-form-width;
}
.form-update {
    padding-bottom: 10px;
    max-width: $model-form-width;
}

.model-form-bottom-actions {
    padding-right: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    flex-wrap: wrap;

    .model-form-button {
        padding: 5px 0px 5px 10px;
    }
}

.editor-image-preview {
    margin: 5px;
}
.tab-error {
    color: rgb(var(--v-theme-error));
}
.jsonforms-source-json {
    margin: 20px 0px;
    .v-expansion-panel-title {
        p {
            margin-left: 10px;
        }
    }
}
.action-description {
    padding: 10px 16px;
}
.form-field-container {
    min-width: 300px !important;
    .v-messages__message {
        display: inline-block;
        max-width: 100%;
        word-break: break-word;
        white-space: break-spaces;
        margin-bottom: 5px;
    }
}
.tinymce-disabled {
    .mce-top-part {
        display: none;
    }
}

// Related dual list
.dial-list-card {
    background-color: rgba(var(--v-theme-on-surface), 0.05) !important;
}
.dial-list-card .v-card-text {
    padding: 2px;
}
.dial-list-card .v-list-item {
    min-height: 32px;
    user-select: none;
}
.dial-list-selected-text {
    height: 40px;
    display: flex;
    align-items: center;
}
.dial-list-card .v-list-item:nth-child(2n) {
    background-color: rgb(var(--v-theme-surface));
    filter: brightness(96%);
}
.dial-list-card .dial-list-col {
    padding: 3px;
}
[class*="theme--"][class*="dark" i]
.dial-list-card .dial-list-list-card {
    background-color: rgba(var(--v-theme-on-surface), 0.02) !important;
}
