.list-page {
    display: flex;
    flex-direction: column;
    height: 100%;
    .header-row {
        margin: 10px;
        vertical-align: middle;
    }

    @media (max-width: $screen-narrow) {
        .list-above-block {
            margin: 5px !important;
            background-color: rgba(var(--v-theme-on-surface), 0.005) !important;
        }
    }
    .list-above-block {
        margin: 10px;
        display: flex;
        flex-direction: row;
        .header-row-filters {
            flex: 1 0 0;
        }
        .header-row-actions {
        }
        .v-btn {
            height: 40px;
        }
    }
}

.model-table {
    flex: 1 0 0;
    min-height: 0;
    tbody {
        .v-data-table__td:not(:first-child) {
            padding: 0px !important;
        }
    }
    .table-cell {
        display: flex;
        padding: 0px 16px;
    }
    .table-link {
        justify-content: start;
        align-items: center;

        cursor: pointer;
        color: rgb(var(--v-theme-primary));
        height: 100%;
        width: 100%;
        &:hover {
            color: rgb(var(--v-theme-secondary));
            text-decoration: underline;
        }
    }

    .cell-string {
    }
    .cell-string:hover {
        overflow: visible;
    }
    .select-to-all {
        width: 32px;
    }
    .v-data-table__tr--clickable {
        cursor: unset;
    }
}

.table-bottom {
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .info {
        margin: 0px 5px;
        text-align: center;
    }
    .selected-count {
        min-width: 80px;
    }
    .actions-cell {
        flex: 1 0 0;
        flex-wrap: wrap;
        min-width: 0;

        .action-button-opener {
            max-width: 50px;
        }
        .action-button {
            max-width: 200px;
            margin: 2px;
            display: flex;
            justify-content: start;
            .v-btn__content {
                pointer-events: none;
                background-color: inherit;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                display: block;
            }
        }
        .action-button:hover {
            .v-btn__content {
                overflow: visible;
                z-index: 100;
                background-color: inherit;
                text-shadow: 1px 1px 2px #fff;
            }
        }
    }
    .mobile-pagination {
        margin: 0px 10px;
    }
    .table-bottom-cell {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .list-pagination-per-page {
        display: contents;
        .v-field__field {
            display: contents;
            vertical-align: middle;
        }
        .v-input__details {
            display: none;
        }
        .v-field__input {
            vertical-align: middle;
        }
    }
    .list-pagination {
        vertical-align: middle;
    }
}

.image-preview {
    margin: 2px;
}

.settings-section {
    margin-bottom: 20px;
    .v-btn {
        min-width: 80px;
    }
    .v-btn-group {
        margin-bottom: 5px;
    }
}

.login-form {
    .v-input__details {
        padding: 3px 16px;
    }
}

// Хлебные крошки
.v-app-bar .v-breadcrumbs {
    flex: 1 1 auto;
    min-width: 0;
}

.v-app-bar .v-breadcrumbs-item {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.v-app-bar > *:not(.v-breadcrumbs) {
    flex-shrink: 0;
}

// Оставить только последний элемент навигации
@media (max-width: $screen-mobile-wide) {
    .v-breadcrumbs li.v-breadcrumbs-item {
        display: none;
    }

    .v-breadcrumbs li.v-breadcrumbs-item:last-of-type {
        display: inline-flex;
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .v-breadcrumbs li.v-breadcrumbs-item:nth-last-child(3) {
        display: inline-flex;
    }

    .v-breadcrumbs li.v-breadcrumbs-item:nth-last-child(3) .v-breadcrumbs-item--link {
        font-size: 0;
    }

    .v-breadcrumbs li.v-breadcrumbs-item:nth-last-child(3) .v-breadcrumbs-item--link::before {
        content: '\F0141';
        font-family: 'Material Design Icons';
        font-size: 20px;
        line-height: 1;
    }

    .v-breadcrumbs-divider {
        display: none;
    }
}
